<div class="container max-width-300">
  <div class="d-flex flex-column align-items-center text-center">
    <h1 class="my-3 font-weight-normal">Edit <%= resource_name.to_s.humanize %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-100" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :profile_image, class: "sr-only" %>
        <div class="avatar-wrapper rounded-circle">
          <%= image_tag @user.profile_image.url, class:"profile-pic" %>
          <div class="upload-button">
          </div>
          <%= f.file_field :profile_image, class: "file-upload" %>
        </div>
        <div class="d-flex justify-content-center height-0">
          <span id="plus-icon" class="text-success border-success"></span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :first_name, class: "sr-only" %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: "sr-only" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone, class: "sr-only" %>
        <%= f.telephone_field :phone, autocomplete: "phone", placeholder: "Phone", class: "form-control"%>
      </div>

      <div class="form-group mx-auto">
        <input type="checkbox" class="form-check-input" name="changePass" id="changePass">
        <label class="form-check-label" for="changePass">Change Password</label>
      </div>

      <div class="form-group">
        <%= f.label :password, 'New Password' %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control new-pass-input", disabled: "disabled" %>
        <% if @minimum_password_length %>

          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm New Password' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control new-pass-input", disabled: "disabled" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-success form-control" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy?</p>
    <%= link_to "Cancel my account", registration_path(resource_name),
      data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger w-100 mb-3" %>

    <%= link_to "Back", :back %>

  </div>
</div>
