<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :listing_image do |t| %>
    <div>
      <%= t.label :image %>
      <%= t.file_field :image, :multiple => true %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%# <%= form.number_field :category %>
    <%= form.select :category, options_for_select(Listing.categories.keys) %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.select :item_type, options_for_select(Listing.item_types.keys) %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :bindings %>
    <%= form.check_box :bindings %>
  </div>

  <div class="field">
    <%= form.label :boots %>
    <%= form.check_box :boots %>
  </div>

  <div class="field">
    <%= form.label :helmet %>
    <%= form.check_box :helmet %>
  </div>

  <div class="field">
    <%= form.label :daily_price %>
    <%= form.number_field :daily_price %>
  </div>

  <div class="field">
    <%= form.label :weekly_price %>
    <%= form.number_field :weekly_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
