<%= form_with(model: listing, local: true, class: "w-100") do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, placeholder: "Title", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "sr-only" %>
    <%= form.text_area :description, placeholder: "Description", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category, class: "sr-only" %>
    <%= form.select :category, options_for_select(Listing.categories.keys), { prompt: "Select Category" }, { class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= form.label :item_type, class: "sr-only" %>
    <%= form.select :item_type, options_for_select(Listing.item_types.keys), { prompt: "Select Type" }, { class: "form-control", required: true }  %>
  </div>

  <div class="form-group">
    <%= form.label :size, class: "sr-only" %>
    <%= form.number_field :size, placeholder: "Size in cm", class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :brand, class: "sr-only" %>
    <%= form.text_field :brand, placeholder: "Brand", class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :daily_price, 'Daily price ($)', class: "sr-only"%>
    <%= form.number_field :daily_price, placeholder: "Daily Price ($)", class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :weekly_price, 'Weekly price ($)', class: "sr-only" %>
    <%= form.number_field :weekly_price, placeholder: "Weekly Price ($)", class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :bindings %>
    <%= form.check_box :bindings %>
  </div>

  <div class="form-group">
    <%= form.label :boots %>
    <%= form.check_box :boots %>
  </div>

  <div class="form-group">
    <%= form.label :helmet %>
    <%= form.check_box :helmet %>
  </div>

  <h3 class="mb-3">Pick Up Location</h3>

  <%= form.fields_for :location do |t| %>
    <div class="form-group">
      <%= t.label :address, class: "sr-only" %>
      <%= t.text_field :address, placeholder: "Address", class: "form-control", required: true  %>
    </div>
    <div class="form-group">
      <%= t.label :city, class: "sr-only" %>
      <%= t.text_field :city, placeholder: "City", class: "form-control", required: true  %>
    </div>
    <div class="form-group">
      <%= t.label :state, class: "sr-only" %>
      <%= t.text_field :state, placeholder: "State", class: "form-control", required: true  %>
    </div>
    <div class="form-group">
      <%= t.label :postcode, class: "sr-only" %>
      <%= t.number_field :postcode, placeholder: "Postcode", class: "form-control", required: true  %>
    </div>
    <div class="form-group">
      <%= t.label :country, class: "sr-only" %>
      <%= t.text_field :country, placeholder: "Country", class: "form-control", required: true  %>
    </div>
  <% end %>

  <%= form.fields_for :listing_image do |t| %>

    <% unless @listing.listing_images.empty? %>
      <div>
        <label>
          <%= t.check_box :remove_image %>
          Remove existing images
        </label>
      </div>
    <% end %>

    <div class="form-group">
      <%= t.label :image, "Upload Images" %>
      <%= t.file_field :image, multiple: true, style: "width: 235px" %>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.submit class: "btn btn-success form-control" %>
  </div>
<% end %>
