<h1>Listings</h1>

<p>
  Total Listings: <%= @total_listings %>
  <% if @total_listings > @limit %>
    (Showing <%= @limit %> per page)
  <% end %>
</p>

<%= form_with url: listings_path, method: :get, local: true do |form| %>
  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, value: params[:city] %>
  </div>
  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, value: params[:start_date] %>
  </div>
  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, value: params[:end_date] %>
  </div>
  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(Listing.categories.keys.unshift("All"), params[:category])  %>
  </div>
  <div class="form-group">
    <%= form.label :item_type %>
    <%= form.select :item_type, options_for_select(Listing.item_types.keys.unshift("All"), params[:item_type])  %>
  </div>
  <div class="form-group">
    <%= form.label :size %>
    <%= form.select :size, options_for_select(@size_array, params[:size]) %>
  </div>
  <div class="form-group">
    <%= form.label :brand %>
    <%= form.text_field :brand, value: params[:brand] %>
  </div>
  <div class="form-group">
    <%= form.label :page %>
    <%= form.select :page, options_for_select((1..@pages).to_a, params[:page]) %>
  </div>
  <div class="form-group">
    <%= form.label :results_per_page %>
    <%= form.select :results_per_page, options_for_select([10,20,30], params[:results_per_page]) %>
  </div>
  <div class="form-actions">
    <%= form.submit 'Search' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>City</th>
      <th>Category</th>
      <th>Type</th>
      <th>Size</th>
      <th>Brand</th>
      <th>Daily price</th>
      <th>Weekly price</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= listing.location.city %></td>
        <td><%= listing.category %></td>
        <td><%= listing.item_type %></td>
        <td><%= listing.size %></td>
        <td><%= listing.brand %></td>
        <td><%= "$%0.2f" % (listing.daily_price/100.0) %></td>
        <td><%= "$%0.2f" % (listing.weekly_price/100.0) %></td>
        <% if listing.listing_images.empty? %>
          <td><%= image_tag asset_path("fallback/noimage.png")%></td>
        <% else %>
          <td><%= image_tag listing.listing_images.first.image.url %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
