<div class="container">
  <h1>Listings</h1>

  <p>Total Listings: <%= @listings.length %></p>

  <%= form_with url: listings_path, method: :get, local: true do |form| %>
    <div class="form-group">
      <%= form.label :city %>
      <%= form.text_field :city, value: params[:city] %>
    </div>
    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, value: params[:start_date] %>
    </div>
    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, value: params[:end_date] %>
    </div>
    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category, options_for_select(Listing.categories.keys.unshift("All"), params[:category])  %>
    </div>
    <div class="form-group">
      <%= form.label :item_type %>
      <%= form.select :item_type, options_for_select(Listing.item_types.keys.unshift("All"), params[:item_type])  %>
    </div>
    <div class="form-group">
      <%= form.label :size %>
      <%= form.select :size, options_for_select(@size_array, params[:size]) %>
    </div>
    <div class="form-group">
      <%= form.label :brand %>
      <%= form.text_field :brand, value: params[:brand] %>
    </div>
    <div class="form-group">
      <%= form.label :page %>
      <%= form.number_field :page, value: params[:page] %>
    </div>
    <div class="form-group">
      <%= form.label :results_per_page %>
      <%= form.select :results_per_page, options_for_select([10,20,30], params[:results_per_page]) %>
    </div>
    <div>
      <input type="radio" name="category" class="sr-only" id="snowboard">
      <label for="snowboard">
        <%= image_tag("snowboard.svg", alt: "snowboard") %>
      </label>
      <input type="radio" name="category" class="sr-only" id="ski">
      <label for="ski">
        <%= image_tag("ski.svg", alt: "ski") %>
      </label>
    </div>
    <div class="form-actions">
      <%= form.submit 'Search' %>
    </div>
  <% end %>

<div class="d-flex flex-wrap">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing.id), class: "card-block" do %>
      <div class="card my-3 mx-4" style="width: 280px;">
        <%= image_tag asset_path("fallback/noimage.png"), class: "card-img-top", alt: "Card image cap"%>
        <div class="card-body">
          <h5 class="card-title"><%= listing.brand %> - <%= listing.title %></h5>
          <p class="card-text"><%= listing.category %> - <%= listing.location.city %></p>
          <p> <%= "$%0.2f" % (listing.daily_price/100.0) %> daily </p>
          <p> <%= "$%0.2f" % (listing.weekly_price/100.0) %> weekly </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <%= link_to 'New Listing', new_listing_path %>
</div>