<div class="container h-100">
  <div class="filter-body row mr-0 justify-content-center">
    <%= form_with url: listings_path, method: :get, local: true do |form| %>
      <div class="form-group">
          <%= form.text_field :city, placeholder: "Pick-up location", class: "form-control", id: 'city', value: params[:city] %>
      </div>
      <div class="form-group">
          <%= form.date_field :start_date, value: params[:start_date] %>
          to
          <%= form.date_field :end_date, placeholder: "Drop off", value: params[:end_date] %>
      </div>
      <div id="show-filters" class="mb-3">Add Filters ▼</div>
      <div id="filters">
        <div class="form-group category-filter">
          <%= form.check_box :snowboard,
            { class: "sr-only", checked: (params[:snowboard] == "1") } %>
          <%= form.label :snowboard, 'Snowboard' do %>
              <%= image_tag("snowboard.svg", alt: "snowboard") %>
          <% end %>
          <%= form.check_box :ski,
            { class: "sr-only", checked: (params[:ski] == "1") } %>
          <%= form.label :ski, 'Ski' do %>
              <%= image_tag("ski.svg", alt: "ski") %>
          <% end %>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <%= form.label :item_type %>
          </div>
          <div class="col-8">
            <%= form.select(:item_type, options_for_select(Listing.item_types.keys.unshift("All"), params[:item_type]), {}, {class: "form-control form-control-sm"}) %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <%= form.label :size %>
          </div>
          <div class="col-8">
            <%= form.select(:size, options_for_select(@size_array, params[:size]), {}, {class: "form-control form-control-sm"}) %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <%= form.label :brand %>
          </div>
          <div class="col-8">
            <%= form.text_field :brand, class: "form-control form-control-sm", value: params[:brand] %>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :page %>
          <%= form.select :page, options_for_select((1..@pages).to_a, params[:page]) %>
        </div>
        <div class="form-group">
          <%= form.label :results_per_page %>
          <%= form.select :results_per_page, options_for_select([10,20,30], params[:results_per_page]) %>
        </div>
      </div>
      <div class="form-actions">
        <%= form.submit 'Search', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-wrap">
    <div class="row justify-content-center">
      <div class="listings-text">
        <p>
          Total Listings: <%= @total_listings %>
          <% if @total_listings > @limit %>
            (Showing <%= @limit %> per page)
          <% end %>
<<<<<<< HEAD
        </p>
      </div>
      <% @listings.each do |listing| %>
        <%= link_to listing_path(listing.id), class: "card-block" do %>
          <div class="card my-3 mx-3" style="width: 350px;">
            <% if listing.listing_images.empty? %>
              <%= image_tag asset_path("fallback/noimage.png"), class: "card-img-top", alt: "Card image cap"%>
            <% else %>
              <%= image_tag listing.listing_images.first.image.url, class: "card-img-top", alt: "Card image cap" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= listing.brand %> - <%= listing.title %></h5>
              <p class="card-text"><%= listing.category %> - <%= listing.location.city %></p>
              <p> <%= "$%0.2f" % (listing.daily_price/100.0) %> Daily </p>
              <p> <%= "$%0.2f" % (listing.weekly_price/100.0) %> Weekly </p>
            </div>
            <% end %>
=======

          <div class="card-body">
            <h5 class="card-title"><%= listing.brand %> - <%= listing.title %></h5>
            <p class="card-text"><%= listing.category %> - <%= listing.city %></p>
            <p> <%= "$%0.2f" % (listing.daily_price/100.0) %> Daily </p>
            <p> <%= "$%0.2f" % (listing.weekly_price/100.0) %> Weekly </p>
>>>>>>> 94472fb31db0fe940fe5320838cb6a4053209d00
          </div>
      <% end %>
  </div>
</div>