<p id="notice"><%= notice %></p>
<p>
  <% if @listing.listing_images.empty? %>
    <%= image_tag asset_path("fallback/noimage.png")%>
  <% else %>
    <% @listing.listing_images.each do |img| %>
      <%= image_tag img.image.url alt: "Product Image" %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.item_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @listing.size %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>

<p>
  <strong>Bindings:</strong>
  <%= @listing.bindings %>
</p>

<p>
  <strong>Boots:</strong>
  <%= @listing.boots %>
</p>

<p>
  <strong>Helmet:</strong>
  <%= @listing.helmet %>
</p>

<p>
  <strong>Daily price:</strong>
  <%= @listing.daily_price %>
</p>

<p>
  <strong>Weekly price:</strong>
  <%= @listing.weekly_price %>
</p>

<%= link_to 'Back', listings_path %>
<% if current_user && @listing.user_id == current_user.id %>
| <%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
  <% if @listing.listing_images.count > 0 %>
    <%= link_to image_tag(@user.profile_image.url), profile_path(@listing.user_id) %>
  <% end %>
</p>
  <%= link_to @user.first_name, profile_path(@listing.user_id) %>
  <%# <%= @user.first_name %>
</p>
<p>
    Joined <%= @user.created_at %></p>
<p>

<%= link_to "Rent Now", new_listing_booking_path(@listing), class: "btn btn-primary"%>
