 <div class="container">
  <div class="profile-container d-flex flex-column align-items-center">
    <p>
      <% if @listing.listing_images.empty? %>
        <%= image_tag asset_path("fallback/noimage.png"), class:"img-thumbnail"%>
      <% else %>
        <%= render 'carousel' %>
      <% end %>
    </p>
    </div>
  <div class="body-top align-items-start">
    <p>
      <strong> <%= @listing.title %></strong> - <%= @listing.brand %>
    </p>
    <p>
      <%= @listing.category %> - <%= @listing.item_type %> (<%= @listing.size %> cms)
    </p>
    <p>
      <strong>Location:</strong>
      <%= @listing.location.city %>
    </p>
  <hr>
    <p>
      <strong>Bindings:</strong>
      <%= @listing.bindings %>
    </p>
    <p>
      <strong>Boots:</strong>
      <%= @listing.boots %>
    </p>

    <p>
      <strong>Helmet:</strong>
      <%= @listing.helmet %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @listing.description %>
    </p>

    <%= link_to 'Back', listings_path %>
    <%# <% if @listing.user_id == current_user.id %>
    <% if current_user && @listing.user_id == current_user.id %>
    | <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <hr>

    <h2>Reviews</h2>
    <%= render 'reviews/list', reviews: @reviews, total_reviews: @total_reviews, average_rating: @average_rating %>

    <div class="container">
      <div class="avatar-container d-flex flex-column align-items-center"> 
          <p>
              <% if @user.profile_image.url != nil %>
                  <%= link_to image_tag(@user.profile_image.url, alt: "Avatar", class: "rounded-circle"), profile_path(@listing.user_id) %>
              <% end %>
          </p>
          <p>
              <%= link_to @user.full_name, profile_path(@listing.user_id) %>
          </p>
          <p>
              Joined <%= @user.created_at.to_date %>
          </p>
          <% unless @last_sign_in.nil? %>
              <p>
                  Last login: <%= @last_sign_in.to_date %>
              </p>
          <% end %>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-9 d-flex align-items-center">
        <p class="mb-0"><strong><%= "$%0.2f" % (@listing.daily_price/100.0) %></strong> / day - 
        <strong><%= "$%0.2f" % (@listing.weekly_price/100.0) %></strong> / week</p>
        <p></p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p class="mb-0">
          <%= link_to "Rent Now", new_listing_booking_path(@listing), class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>
</footer>
