 <div class="container">
  <%# <div class="profile-container d-flex flex-column align-items-center"> %>
    <div class="body-top w-100 align-items-start">
      <div class="listing-image d-flex mb-4 flex-column align-items-center">
        <% if @listing.listing_images.empty? %>
          <%= image_tag asset_path("fallback/thumb_noimage.png"), class:"img-thumbnail"%>
        <% else %>
          <%= render 'carousel' %>
        <% end %>
      </div>
      <p>
        <strong> <%= @listing.title %></strong> - <%= @listing.brand %>
      </p>
      <p>
        <%= @listing.category %> - <%= @listing.item_type %> (<%= @listing.size %> cms)
      </p>
      <p>
        <%# <strong>Location:</strong> %>
        <%= @listing.location.city %>, <%= @listing.location.country %>
      </p>
    </div>
    <hr>
  <div class="body-bottom align-items-start">
    <div class="d-flex flex-column justify-content-around description-body">
      <div>
      <%# <p><strong>Description:</strong></p> %>
        <p>
          <%= @listing.description %>
        </p>
      </div>
      <p><strong>Accessories:</strong></p>
      <div class="d-flex justify-content-around accessories">
        <% if @listing.bindings? %>
          <div class="accessory-icons bindings-icon-true"></div>
        <% end %>
        <% if @listing.boots? %>
          <div class="accessory-icons boots-icon-true"></div>
        <% end %>
        <% if @listing.helmet? %>
          <div class="accessory-icons helmet-icon-true"></div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="links">
      <% if current_user && @listing.user_id == current_user.id %>
        <%= link_to 'Edit', edit_listing_path(@listing) %>
        <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <hr>
    <h2>Reviews</h2>
    <%= render 'reviews/list', reviews: @reviews, total_reviews: @total_reviews, average_rating: @average_rating %>

    <div class="container">
      <div class="avatar-container d-flex flex-column align-items-center">
        <p class="avatar-image-container">
          <% if @user.profile_image.url != nil %>
            <%= image_tag @user.profile_image.url, alt: "Avatar", class: "rounded-circle" %>
          <% end %>
        </p>
        <p>
            <%= link_to @user.full_name, profile_path(@listing.user_id) %>
        </p>
        <p>
            Joined <%= @user.created_at.strftime("%B %Y") %>
        </p>
        <% unless @user.last_sign_in_at.nil? %>
          <p>
              Last login: <%= pluralize((Time.now.to_date - @user.last_sign_in_at.to_date).to_i, 'day') %> ago
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-9 d-flex align-items-center">
        <p class="mb-0"><strong><%= "$%0.2f" % (@listing.daily_price/100.0) %></strong> / day -
        <strong><%= "$%0.2f" % (@listing.weekly_price/100.0) %></strong> / week</p>
        <p></p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p class="mb-0">
          <%= link_to "Rent Now", new_listing_booking_path(@listing), class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>
</footer>
