<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to 'Sloper', root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item my-auto">
        <%= link_to "All Listings",listings_path, class: "nav-item nav-link my-auto" %>
      </li>
      <li class="nav-item  my-auto dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "How It Works", how_it_works_path, class: "dropdown-item" %>
          <%= link_to "FAQs", faq_path, class: "dropdown-item" %>
          <%= link_to "About Us", about_us_path, class: "dropdown-item" %>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item  my-auto dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Profile", profile_path(current_user.id), class: "dropdown-item" %>
          <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
        </div>
      </li>
        <li class="nav-item my-auto ">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link my-auto" %>
        </li>
      <% else %>
        <li class="nav-item my-auto ">
          <%= link_to "Login", new_user_session_path, class: "nav-item nav-link my-auto" %>
        </li>
        <li class="nav-item my-auto ">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link my-auto" %>
        </li>
      <% end %>
      <li class="nav-item my-auto ">
        <%= link_to new_listing_path, class: "nav-item nav-link" do %>
          <button class="btn btn-success btn-sm px-3">List Item</button>
        <% end %>
      </li>
    </ul>
  </div>
</nav>