<div class="hero-image">
  <div class="hero-text">
    <h1>Find Gear</h1>
    <%= form_with url: listings_path, method: :get, local: true do |form| %>
        <div class="form-group">
            <%# <%= form.label :city %>
            <%= form.text_field :city, placeholder: "Pick-up location", id: 'city' %>
        </div>
        <div class="form-group">
            <%= form.date_field :start_date, value: Time.now.strftime('%d-%m-%Y') %>
            <%= form.date_field :end_date, placeholder: "Drop off" %>
        </div>
        <div class="form-group">
            <input type="radio" name="category" class="sr-only" id="snowboard" value="0">
            <label for="snowboard">
                <%= image_tag("snowboard.svg", alt: "snowboard") %>
            </label>
            <input type="radio" name="category" class="sr-only" id="ski" value="1">
            <label for="ski">
                <%= image_tag("ski.svg", alt: "ski") %>
            </label>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    <% end %>
  </div>
</div>

<div class="body">
     <h1>How It Works</h1>
</div>

