<div class="hero-image">
    <div class="hero-text container">
        <h1>Find Gear</h1>
        <%= form_with url: listings_path, method: :get, local: true do |form| %>
            <div class="form-group search">
                <div class="row justify-content-center">
                    <%= form.text_field :city, placeholder: "Pick-up location", id: 'city', class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <%= form.date_field :start_date, class: "rounded", value: params[:start_date] %>
                to
                <%= form.date_field :end_date, class: "rounded", value: params[:end_date] %>
            </div>
            <div class="form-group category-filter mb-2">
                <%= form.check_box :snowboard,
                    { class: "sr-only", checked: (params[:snowboard] == "1") } %>
                <%= form.label :snowboard, 'Snowboard' do %>
                    <%= image_tag("snowboard.svg", alt: "snowboard") %>
                <% end %>
                <%= form.check_box :ski,
                    { class: "sr-only", checked: (params[:ski] == "1") } %>
                <%= form.label :ski, 'Ski' do %>
                    <%= image_tag("ski.svg", alt: "ski") %>
                <% end %>
            </div>
            <div>
                <%= form.submit 'Search', id: 'search-btn', class: "btn btn-success" %>
            </div>
        <% end %>
    </div>
</div>

<div class="d-flex flex-column landing-body">
    <div class="landing-what">
        <h1>What is Sloper?</h1>
        <h2>Sloper is a simple and reliable way to rent and share snow sports gear.</h2>
    </div>
    <div class="steps">
        <div class="landing-find">
            <div class="d-flex flex-column align-items-center how-find">
                <%= image_tag ("find.png"), alt: "Find image" %>
                <h2>Find</h2>
                <p>
                    Find your desired gear anytime, anywhere. Search for your desired pick-up location and browse all the available listings to find the perfect piece of gear for your time at the slopes.
                </p>
            </div>
        </div>
        <hr>
        <div class="landing-choose">
            <div class="d-flex flex-column align-items-center how-find">
                <%= image_tag ("choose.png"), alt: "Choose image" %>
                <h2>Choose</h2>
                <p>
                    Choose the perfect piece of gear for you. Pick your desired gear based on location, brand, type, design, dimensions, accessories and price.
                </p>
            </div>
        </div>
        <hr>
        <div class="landing-book">
            <div class="d-flex flex-column align-items-center how-find">
                <%= image_tag ("book.png"), alt: "Choose image" %>
                <h2>Book</h2>
                <p>
                    Book your gear in seconds. Select your desired pick-up and drop-off dates and pay securely online.
                </p>
            </div>
    </div>
</div>

