<div class="profile-container">
    <div class="avatar-container d-flex flex-column align-items-center"> 
        <p class="avatar-image-container">
            <% if @user.profile_image.url != nil %>
                <%= image_tag @user.profile_image.url, alt: "Avatar", class: "rounded-circle" %>
            <% end %>
        </p>
        <p>
            <%= @user.full_name %>
        </p>
        <p>
            Joined <%= @user.created_at.to_date %>
        </p>
        <% unless @last_sign_in.nil? %>
            <p>
                Last login: <%= pluralize((Time.now.to_date - @last_sign_in.to_date).to_i, 'day') %> ago
            </p>
        <% end %>
        <% if @user == current_user %>
            <p>
                <%= link_to "Edit Profile",  edit_user_registration_path %>
            </p>
        <% end %>
    </div>
    <hr class="mx-5">
    <div class="container">
        <h2>Gear Listings</h2>
        <% if @total_listings == 0 %>
            <p>No current listings</p>
        <% end %>
    </div>
    <%= render 'listings/search_results' %>
    <hr class="mx-5">
    <div class="container">
        <h2>User Reviews</h2>
        <%= render 'reviews/list', reviews: @reviews, total_reviews: @total_reviews, average_rating: @average_rating %>
    </div>
</div>