<div class="avatar-container d-flex flex-column align-items-center"> 
    <p>
        <% if @user.profile_image.url != nil %>
            <%= image_tag @user.profile_image.url, alt: "Avatar", class: "rounded-circle" %>
        <% end %>
    </p>
    <p>
        <%= @user.full_name %>
    </p>
    <p>
        Joined <%= @user.created_at %></p>
    <% if @user == current_user %>
        <p>
            <%= link_to "Edit Profile",  edit_user_registration_path %>
        </p>
    <% end %>
</div>

<div class="profile-listings-container">
    <p>
        <% if @total_listings == 0 %>
            No current listings
        <% else %>
            <%= pluralize(@total_listings, 'listing') %>
        <% end %>
    </p>

   <div class="search-results d-flex justify-content-center flex-wrap">
        <% @listings.each do |listing| %>
            <%= link_to listing_path(listing.id), class: "card-block" do %>
                <div class="card my-3 mx-3" style="width: 350px;">
                <% if listing.listing_images.empty? %>
                    <%= image_tag asset_path("fallback/noimage.png"), class: "card-img-top", alt: "Card image cap"%>
                <% else %>
                    <%= image_tag listing.listing_images.first.image.url, class: "card-img-top", alt: "Card image cap" %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= listing.brand %> - <%= listing.title %></h5>
                    <p class="card-text"><%= listing.category %> - <%= listing.city %></p>
                    <p> <%= "$%0.2f" % (listing.daily_price/100.0) %> Daily </p>
                    <p> <%= "$%0.2f" % (listing.weekly_price/100.0) %> Weekly </p>
                </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<hr>

<h2>User Reviews</h2>
<%= render 'reviews/list', reviews: @reviews, total_reviews: @total_reviews, average_rating: @average_rating %>
