<%= form_with(model: review, url: booking_review_path, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :rating %>
    <span class="star-cb-group">
      <%= form.radio_button(:rating, 5) %>
      <label for="review_rating_5"></label>
      <%= form.radio_button(:rating, 4) %>
      <label for="review_rating_4"></label>
      <%= form.radio_button(:rating, 3) %>
      <label for="review_rating_3"></label>
      <%= form.radio_button(:rating, 2) %>
      <label for="review_rating_2"></label>
      <%= form.radio_button(:rating, 1) %>
      <label for="review_rating_1"></label>
    </span>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
