<% if total_reviews == 0 %>
  <p>Sorry there are no reviews yet.</p>
  <hr>
<% else %>
  <p>
    <%= pluralize(total_reviews, 'Review') %>
    <%= render 'reviews/rating_stars', rating: average_rating.round %>
  </p>
  <hr>
  <% reviews.each do |review| %>
    <p><%= render 'reviews/rating_stars', rating: review.rating %></p>
    <p><%= review.content %></p>
    <p><%= pluralize((Time.now.to_date - review.updated_at.to_date).to_i, 'Day') %> Ago</p>
    <p>Author:
      <%= link_to profile_path(review.booking.user_id) do %>
        <%= review.booking.user.first_name %>
      <% end %>
    </p>
    <hr>
  <% end %>
<% end %>